{% extends '@OctaveCore/base.html.twig' %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
	<p>Dashboard</p>
	{{ octave_menu('octave.sidebar_menu') }}
{% endblock content %}