<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="robots" content="noindex, nofollow" />
		<title>{% block title %}{% endblock title %} - Octave</title>
		 {% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('build/octave/css/core.css') }}" />
		 {% endblock %}
	</head>
	<body>
		{% block content %}
		{% endblock content %}
		{% block javascripts %}
			<script type="text/javascript" src="{{ asset('build/octave/js/runtime.js') }}"></script>
			<script type="text/javascript" src="{{ asset('build/octave/js/core.js') }}"></script>
		{% endblock javascripts %}
	</body>
</html>