//
// Buttons
//

$button-padding-vertical: 	$content-padding-vertical;
$button-padding-horizontal: $content-padding-horizontal;
$button-padding: 			$button-padding-vertical $button-padding-horizontal;
$button-font:				$font-default;

button, input[type='submit'] {
	padding: 0;
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
	background: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	&:focus {
		outline: none;
	}
}

.btn {
	position: relative;
	cursor: pointer;
	border-radius: 0.3em;
	background: $light;
	color: $dark;
	padding: $button-padding;
	min-width: 100px;
	font-family: $button-font;
	transition: all $transition-speed-fast ease;
	margin-top: 5px;
	&:not(.loading):not(.disabled):not(:disabled) {
		&:hover {
			background: darken($light, 5%);
		}
		&:active {
			background: darken($light, 8%);
		}
	}
	&.btn-outline {
		background: transparent;
		border: 1px solid $light;
		color: $light;
		&:hover {
			background: $light;
		}
		&:not(.loading):not(.disabled):not(:disabled) {
			&:active {
				background: darken($light, 5%);
			}
			&:hover, &:active {
				color: $dark;
			}
		}
	}
	@each $name, $color in $theme-colors {
		&.btn-#{$name} {
			background: $color;
			@if (lightness($color) > 50) {
				color: $dark;
			} @else {
				color: $white;
			}
			&:not(.loading):not(.disabled):not(:disabled) {
				&:hover {
					background: darken($color, 5%);
				}
				&:active {
					background: darken($color, 8%);
				}
			}
			&.btn-outline {
				background: transparent;
				color: $color;
				border-color: $color;
				&:not(.loading):not(.disabled):not(:disabled) {
					&:hover {
						background: $color;
					}
					&:active {
						background: darken($color, 5%);
					}
					&:hover, &:active {
						@if (lightness($color) > 50) {
							color: $dark;
						} @else {
							color: $white;
						}
					}
				}
			}
		}
	}
	.icon {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 38px;
		border-right: 1px solid rgba(255,255,255,0.1);
		display: flex;
		align-items: center;
		justify-content: center;
		+ .text {
			padding-left: 34px;
		}
	}
	&.loading, &.disabled, &:disabled {
		opacity: 0.5;
		cursor: initial;
		.icon i {
			animation: fa-spin 1s infinite ease;
			&::before {
				content: fa-content($fa-var-circle-notch);
			}
		}
	}
}