//
// Fonts
//

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,400i,700,700i');

body {
	font-family: $font-default;
	color: $text-color;
	font-size: $base-font-size;
}