//
// Forms
//

$input-border-height:	2px;
$input-icon-width:		25px;
$input-icon-size:		20px;
$input-width:			350px;

$checkbox-width: 		$input-icon-size;

button, input, optgroup, select, textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	border: none;
	background: none;
	padding: $input-padding;
	transition: all $transition-speed-fast ease;
	&:focus {
		outline: none;
	}
}

input[type='text'], input[type='email'], input[type='password'] {
	position: relative;
	display: inline-block;
	border-bottom: $input-border-height solid $border-color;
	width: $input-width;
	max-width: 100%;
	&:focus {
		border-color: $primary;
	}
}

button, input {
	overflow: visible;
}

form {
	width: 100%;
}

.input-group {
	position: relative;
	display: flex;
	align-items: center;
	width: $input-width;
	max-width: 100%;
	margin: $content-padding-vertical 0;
	.input-label {
		color: $placeholder-color;
		display: block;
	}
	&.has-icon {
		.icon {
			display: inline-block;
			margin-right: $spacing-sm;
			font-size: $input-icon-size;
			color: $placeholder-color;
			transition: all $transition-speed-fast ease;
			i {
				width: $input-icon-width;
				text-align: center;
			}
		}
	}

	// Text input
	&.input-text {
		padding-top: $content-padding-vertical + 4px;
		&.has-icon .input-label {
			padding-left: $input-icon-width + $spacing-sm + $input-padding-horizontal;
		}
		.input-label {
			position: absolute;
			left: 0;
			top: $input-padding-vertical + $content-padding-vertical + 4px;
			display: block;
			transition: all $transition-speed-fast ease;
		}
	}
	&.has-focus {
		.input-label, .icon {
			color: $primary;
		}
	}
	&.has-error {
		.input-label, .icon, input {
			color: $danger;
			border-color: $danger;
		}
	}
	&.has-focus, &.has-input {
		&.input-text {
			.input-label {
				top: 0;
				font-size: 0.9em;
			}
		}
	}

	// Checkbox
	&.input-checkbox {
		margin-top: $content-padding-vertical * 2;
		cursor: pointer;
		min-height: $checkbox-width;
		input {
			position: absolute;
			opacity: 0;
			&:checked {
				+ .input-label {
					&::before, &::after {
						background: $primary;
						border-color: $primary;
					}
					&::before {
						opacity: 0;
						border-radius: 50%;
						margin-top: -$checkbox-width;
						left: -($checkbox-width / 2);
						width: $checkbox-width * 2;
						height: $checkbox-width * 2;
						transition: all $transition-speed ease;
					}
					&::after {
						opacity: 1;
					}
				}
			}
		}
		&:hover {
			.input-label::before {
				border-color: $primary;
			}
		}
		.input-label {
			position: relative;
			color: $text-color;
			padding-left: $checkbox-width + $input-icon-width - $checkbox-width + $spacing-sm;
			&::before, &::after {
				content: '';
				position: absolute;
				opacity: 1;
				display: block;
				left: 0;
				top: 50%;
				margin-top: -($checkbox-width / 2);
				height: 100%;
				width: $checkbox-width;
				height: $checkbox-width;
				border: 2px solid $border-color;
				border-radius: 4px;
			}
			&::before {
				transition: border-color $transition-speed-fast ease;
			}
			&::after {
				opacity: 0;
				transition: all $transition-speed ease;
				padding-top: 3px;
				text-align: center;
				color: $white;
				font-size: $checkbox-width / 2;

				// Check icon
				@include fa-icon;
				content: fa-content($fa-var-check);
				font-family: 'Font Awesome 5 Free';
				font-weight: 900;
			}
		}
	}
}

.form-group {
	// Input errors
	.input-group {
		&.input-text {
			+ .input-errors {
				margin-top: -$content-padding-vertical;
			}
			&.has-icon + .input-errors {
				margin-left: $input-icon-width + $spacing-sm + $input-padding-horizontal;
			}
		}
		+ .input-errors {
			color: $placeholder-color;
		}
		&.has-error + .input-errors {
			color: $danger;
		}
	}
	.input-errors {
		text-align: left;
		color: $danger;
		padding-top: $input-padding-vertical;
		margin-bottom: $input-padding-vertical;
		.error {
			display: block;
			transition: all $transition-speed-fast ease;
		}
	}
}