//
// Octave logo
//

.octave-logo {
	.top-circle, .top-circle-overlay, .text {
		fill: $dark;
	}
	.bottom-circle {
		transform-origin: 50% 48%;
		transition: all $transition-speed-fast ease;
		.background {
			fill: $light;
		}
		.overlay {
			fill: $primary;
			transition: all $transition-speed-fast ease;
			&:hover {
				fill: lighten($primary, 10%);
			}
		}
	}
	&.loading {
		.bottom-circle {
			animation: spin 1s infinite ease;
		}
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}