//
// Variables
//

// Colors

$white:    			#fff;
$gray-100: 			#e7e7e8;
$gray-200: 			#d1d3d4;
$gray-300: 			#dee2e6;
$gray-400: 			#ced4da;
$gray-500: 			#adb5bd;
$gray-600: 			#6c757d;
$gray-700: 			#495057;
$gray-800: 			#404041;
$gray-900: 			#212529;
$black:    			#000;

$light:         	$gray-100;
$dark:          	$gray-800;

$primary:       	#1f99b5;
$success:       	#21b142;
$warning:       	#ff9907;
$danger:        	#e03a19;

$theme-colors: (
	'primary': 		$primary,
	'success': 		$success,
	'warning': 		$warning,
	'danger': 		$danger
);

$text-color:		$dark;
$link-color:    	$primary;
$placeholder-color:	$gray-500;


// Fonts

$font-default:		'Source Sans Pro', sans-serif;
$font-header:		'Montserrat', sans-serif;
$base-font-size: 	14px;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
);


// Borders and shadows

$border-color: 		$gray-300;
$box-shadow-sm:		0 .125rem .25rem rgba($black, .075);
$box-shadow:   		0 .5rem 1rem rgba($black, .15);
$box-shadow-lg:		0 1rem 3rem rgba($black, .175);


// Transition speeds

$transition-speed-fast: 0.25s;
$transition-speed: 		0.5s;
$transition-speed-slow: 1s;


// Default spacing

$spacing-sm:	7px;
$spacing: 	 	15px;
$spacing-lg: 	30px;


// Content paddings

$content-padding-vertical-lg: 		20px;
$content-padding-horizontal-lg: 	30px;
$content-padding-lg: 				$content-padding-vertical-lg $content-padding-horizontal-lg;

$content-padding-vertical: 			10px;
$content-padding-horizontal: 		15px;
$content-padding: 					$content-padding-vertical $content-padding-horizontal;

$content-padding-vertical-sm: 		5px;
$content-padding-horizontal-sm: 	7px;
$content-padding-sm: 				$content-padding-vertical-sm $content-padding-horizontal-sm;


// Input paddings

$input-padding-vertical: 			$content-padding-vertical-sm;
$input-padding-horizontal:			$content-padding-horizontal-sm;
$input-padding: 					$input-padding-vertical $input-padding-horizontal;