//
// Security core
//

body {
	background-image: url('../img/security_bg.jpg');
	background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;
}

.security-wrapper {
	display: flex;
	padding-top: 150px;
	align-items: flex-start;
	justify-content: center;
	height: 100%;
	.panel {
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 600px;
		max-width: 100%;
		box-shadow: $box-shadow-lg;
		background: $white;
		padding: $content-padding-vertical-lg 0;
		.octave-logo {
			width: 175px;
			margin-bottom: $spacing;
		}
		.content {
			display: flex;
			align-items: center;
			max-width: 100%;
			text-align: center;
			padding: 0 $content-padding-horizontal-lg;
			.input-group {
				width: 250px;
				&.input-checkbox {
					justify-content: center;
				}
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.security-wrapper {
		padding-top: 75px;
	}
}