<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="robots" content="noindex, nofollow" />
		<title>{% block title %}{% endblock title %} - Octave</title>
		 {% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('build/octave/css/core.css') }}" />
			<link rel="stylesheet" href="{{ asset('build/octave/css/security.css') }}" />
		 {% endblock %}
	</head>
	<body>
		<div class="security-wrapper">
			<div class="panel">
				<svg class="octave-logo" version="1.1" viewBox="0 0 50 50">
					<g class="icon">
						<path class="top-circle" d="M25,0c-6.6,0-12,5.4-12,12c0,6.6,5.4,12,12,12s12-5.4,12-12C37,5.4,31.6,0,25,0z M25,20
							c-4.4,0-8-3.6-8-8c0-4.4,3.6-8,8-8s8,3.6,8,8C33,16.4,29.4,20,25,20z"/>
						<g class="bottom-circle">
							<path class="background" d="M25,12c-6.6,0-12,5.4-12,12c0,6.6,5.4,12,12,12s12-5.4,12-12C37,17.3,31.6,12,25,12z M25,31.9
								c-4.4,0-8-3.6-8-8c0-4.4,3.6-8,8-8s8,3.6,8,8C33,28.4,29.4,31.9,25,31.9z"/>
							<path class="overlay" d="M32.5,33.3c-0.5-1.3-1.2-2.4-2.3-3.3c-1.4,1.2-3.3,2-5.3,2c-4.4,0-8-3.6-8-8s3.6-8,8-8
								c2,0,3.9,0.8,5.3,2c1-0.9,1.8-2,2.2-3.3C30.5,13,27.9,12,25,12c-6.6,0-12,5.4-12,12s5.4,12,12,12C27.9,35.9,30.5,34.9,32.5,33.3z"/>
						</g>
						<path class="top-circle-overlay" d="M25,20c-4.4,0-8-3.6-8-8c0-4.4,3.6-8,8-8V0c-6.6,0-12,5.4-12,12c0,6.6,5.4,12,12,12V20z"/>
					</g>
					<g class="text">
						<path d="M7.7,48.7C6.9,49.6,5.8,50,4.5,50c-1.3,0-2.3-0.4-3.2-1.3C0.4,47.9,0,46.8,0,45.5
							c0-1.3,0.4-2.3,1.3-3.2c0.9-0.8,1.9-1.3,3.2-1.3c1.3,0,2.3,0.4,3.2,1.3C8.6,43.2,9,44.3,9,45.5C9,46.8,8.6,47.9,7.7,48.7z
							 M7.1,45.5c0-0.8-0.2-1.4-0.7-2c-0.5-0.5-1.1-0.8-1.8-0.8c-0.7,0-1.3,0.3-1.8,0.8c-0.5,0.5-0.7,1.2-0.7,2c0,0.8,0.2,1.4,0.7,2
							c0.5,0.5,1.1,0.8,1.8,0.8c0.7,0,1.3-0.3,1.8-0.8C6.8,47,7.1,46.3,7.1,45.5z"/>
						<path d="M14.6,48.2c0.9,0,1.7-0.4,2.3-1.1l1.2,1.3c-1,1.1-2.1,1.7-3.5,1.7c-1.3,0-2.4-0.4-3.3-1.3
							c-0.9-0.8-1.3-1.9-1.3-3.2c0-1.3,0.4-2.3,1.3-3.2c0.9-0.9,1.9-1.3,3.2-1.3c1.4,0,2.6,0.5,3.5,1.6L17,44.1c-0.6-0.8-1.4-1.1-2.3-1.1
							c-0.7,0-1.3,0.2-1.9,0.7c-0.5,0.5-0.8,1.1-0.8,1.9c0,0.8,0.2,1.4,0.7,1.9C13.3,48,13.9,48.2,14.6,48.2z"/>
						<path d="M23.3,43v6.9h-1.9V43H19v-1.7h6.8V43H23.3z"/>
						<path d="M32.7,49.9L31.9,48h-3.6l-0.8,1.9h-2l3.7-8.6H31l3.7,8.6H32.7z M30.1,43.9L29,46.4h2.2
							L30.1,43.9z"/>
						<path d="M38.4,46.8l2.2-5.5h2.1l-3.5,8.6h-1.6l-3.5-8.6h2.1L38.4,46.8z"/>
						<path d="M49.9,41.3V43h-4.3v1.8h3.9v1.6h-3.9v1.8H50v1.7h-6.3v-8.6H49.9z"/>
					</g>
				</svg>
				<div class="content">
					{% block content %}
					{% endblock content %}
				</div>
			</div>
		</div>
		{% block javascripts %}
			<script type="text/javascript" src="{{ asset('build/runtime.js') }}"></script>
			<script type="text/javascript" src="{{ asset('build/octave/js/core.js') }}"></script>
		{% endblock javascripts %}
	</body>
</html>