{% extends '@OctaveSecurity/base.html.twig' %}

{% block title %}Login{% endblock title %}

{% block content %}
	<form method="post">

		<div class="form-group">
			<label for="username" class="input-group input-text has-icon{% if error %} has-error{% endif %}">
				<span class="icon"><i class="fa fa-fingerprint"></i></span>
				<span class="input-label" >Username</span>
				<input type="text" id="username" name="_username" value="{{ last_username }}" autocomplete="username" required />
			</label>
			{% if error %}
				 <div class="input-errors">
					<span class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
				</div>
			{% endif %}
		</div>

		<label for="password" class="input-group input-text has-icon{% if error %} has-error{% endif %}">
			<span class="icon"><i class="fa fa-key"></i></span>
			<span class="input-label" >Password</span>
			<input type="password" id="password" name="_password" autocomplete="current-password" required />
		</label>

		<label for="remember_me" class="input-group input-checkbox">
			<input type="checkbox" id="remember_me" name="_remember_me" />
			<span class="input-label">Remember me</span>
		</label>
		
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

		<button type="submit" class="btn btn-primary">
			<span class="icon"><i class="fa fa-sign-in-alt"></i></span>
			<span class="text">Sign in</span>
		</button>
		
	</form>
{% endblock content %}